.site__inner {
    padding: 1vw;
}
.site__title {
    position: sticky;
    top: 65px;
    left: 0;
    width: 48%;
    height: 12vw;
    padding: 2vw;
    background-color: var(--black);
    font-size: 5vw;
    color: var(--white);
    font-weight: 900;
    line-height: 1.6;
    text-transform: uppercase;
    font-family: var(--mainPoint-font);
}
.siteitem {
    width: 100%;
    padding: 2vw;
    background-color: var(--black);
    color: var(--white);
    position: sticky;
    left: 0;
}
.siteitem.s1 {
    /* background-color: var(--black500); */
    top: 180px;
}
.siteitem.s2 {
    background-color: var(--black400);
    top: 200px;
}
.siteitem.s3 {
    background-color: var(--black300);
    top: 220px;
}
.siteitem.s4 {
    background-color: var(--black200);
    top: 240px;
}
.site__title em {
    font-family: var(--mainKor-font);
    font-size: 1.2rem;
    color: var(--mainBg-color);
    font-weight: 400;
}
.siteitem .num {
    display: inline-block;
    font-family: var(--mainNum-font);
    font-size: 5rem;
    margin-bottom: 1vw;
}
.siteitem .text {
    font-family: var(--mainEng-font);
    font-size: 3rem;
    font-weight: 700;
    padding: 7vw 0;
    text-transform: uppercase;
    text-align: center;
}
.siteitem .text div:nth-child(2) {
    color: var(--mainBg-color);
}
.siteitem .title {
    color: var(--mainBg-color);
    font-weight: 700;
    margin-bottom: 1vw;
}
.siteitem .btn  a{
    display: inline-block;
    width: 10vw;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 0.7vw 1vw;
    border-radius: 5vw;
    margin-bottom: 1vw;
}
.siteitem .btn a:nth-child(1) {
    color: var(--black500);
    background-color: var(--mainBg-color);
    margin-right: 1vw;
}
.siteitem .btn a:nth-child(1):hover {
    background-color: var(--subBg100);
}
.siteitem .btn a:nth-child(2) {
    color: var(--black500);
    background-color: var(--white);
}
.siteitem .btn a:nth-child(2):hover {
    background-color: var(--white100);
}
.siteitem .info span {
    display: block;
    text-transform: uppercase;
    font-family: var(--mainNum-font);
}